<style>
    .table td,
    .table th {
        vertical-align: middle;
    }
</style>

{{#if productos.length}}
<h2 class="text-dark m-3 me-auto">Productos</h2>
<br>
<div class="table-responsive">
    <table class="table table-dark">
        <tr>
            <th class="text-center text-light">ID</th>
            <th class="text-center text-light">Nombre</th>
            <th class="text-center text-light">Precio</th>
            <th class="text-center text-light">Imagen</th>
        </tr>
        {{#each productos}}
        <tr>
            <td class="text-center text-light">{{this.id}}</td>
            <td class="text-center text-light">{{this.name}}</td>
            <td class="text-center text-light">{{this.price}}</td>
            <td class="text-center text-light"><img src="{{this.src}}" alt="1" width="100px"></td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}
<h2 class="text-dark m-3 me-auto">No hay Productos :s</h2>
<br>